S3method(plot,frap)
S3method(plot,frapPair)
S3method(plot,profileLikelihoodFrap)
S3method(plot,profileLikelihoodFrapPair)
S3method(print,experimentSummary)
export(analyzeFrap)
export(analyzeFrapExperiment)
export(analyzeFrapPair)
export(analyzeFrapPairExperiment)
export(calcInitBound)
export(decouplePairs)
export(decoupleTable)
export(experimentSummary)
export(experimentSimData)
export(getCrossResidualsPair)
export(getNumber)
export(getProfileLikelihoodPoint)
export(getResiduals)
export(getResidualsPair)
export(getSimData)
export(getSimDataPair)
export(getSimulatedNoiseData)
export(gg_color_hue)
export(imageCell)
export(imageCellPair)
export(loadFrapData)
export(loadFrapPairs)
export(makeEXPDATA)
export(makePairEXPDATA)
export(pairFun)
export(param.FRAP.pairs)
export(plotBestUpperLowerFrap)
export(plotBestUpperLowerFrapPair)
export(plotExperimentSummary)
export(plotPL2D)
export(plotResidualsAllFits)
export(profileLikelihoodFrap)
export(profileLikelihoodFrapPair)
export(profileLikelihoodFrapExperiment)
export(profileLikelihoodFrapPairExperiment)
export(restructurePairs)
export(restructureSimData)
export(restructureSimDataPair)
export(runModelFit)
export(runModelFitPair)
export(runProfileLikelihoodContour)
export(runProfileLikelihoodContourPair)
export(runProfileLikelihoodCost)
export(runProfileLikelihoodCostPair)
export(runProfileLikelihoodGrid)
export(runProfileLikelihoodGridPair)
export(transformTauNucFrac)
